.u-color {
    &--red {
        color: #cc5777;
    }

    &--gray {
        color: #dddddd;
    }

    &--gray-2 {
        color: #999999;
    }

    &--blue {
        color: #5dc1cf;
    }

    &--white {
        color: #ffffff;
    }
}
