.u-margin {
    &Top {
        &--4 {
            margin-top: 4px;
        }

        &--8 {
            margin-top: 8px;
        }

        &--10 {
            margin-top: 10px;
        }

        &--12 {
            margin-top: 12px;
        }

        &--14 {
            margin-top: 14px;
        }

        &--16 {
            margin-top: 16px;
        }

        &--18 {
            margin-top: 18px;
        }

        &--20 {
            margin-top: 20px;
        }

        &--29 {
            margin-top: 29px;

            @include sp {
                margin-top: 30px;
            }
        }

        &--30 {
            margin-top: 30px;
        }
    }

    &Bottom {
        &--18 {
            margin-bottom: 18px;
        }

        &--21 {
            margin-bottom: 21px;
        }

        &--37 {
            margin-bottom: 37px;
        }

        &--40 {
            margin-bottom: 40px;
        }

        &--60 {
            margin-bottom: 40px;
        }

        @include sp {
            &--60 {
                margin-bottom: 55px;
            }
        }
    }

    &Left {
        margin-left: 2px;
    }

    &Right {
        margin-right: 7px;
    }

}
