.u-padding {
    &Top--40 {
        padding-top: 40px;
    }

    &Bottom--4 {
        padding-bottom: 4px;
    }

    &Bottom--17 {
        padding-bottom: 17px;
    }

    &Bottom--32 {
        padding-bottom: 17px;
    }

    &Right--15 {
        padding-right: 17px;
    }

    @include sp {
        &Bottom--8 {
            padding-bottom: 2px
        }

        &Bottom--4 {
            padding-bottom: 1px
        }

        &Bottom--32 {
            padding-bottom: 30px
        }
    }
}
