/*****************************************************************************
 *  footer設定
 ****************************************************************************/

#l-footer {
    max-width: 1100px;
    min-width: 375px;
    margin: 0 auto;
}
