/*****************************************************************************
 *  main設定
 ****************************************************************************/
#l-main {
    max-width: 1100px;
    min-width: 375px;
    margin: 0 auto;
}
